@model OnlineMobileShop.Entity.Mobile

@{
    ViewBag.Title = "DisplayDetails";
}

@Html.ActionLink("Add new details", "Create")
<head>
    <style>
        #table {
            border-spacing: 10px;
            padding: 10px;
        }
    </style>
</head>
<h2>Create</h2>
@using (Html.BeginForm("Create_post", "Mobile", FormMethod.Post))
{
<table>
    <tr>
        <td>
            @Html.Label("MobileId")
        </td>
        <td>
            @Html.TextBoxFor(Model => Model.MobileID)
        </td>
    </tr>
    <tr>
        <td>
            @Html.Label("Brand")
        </td>
        <td>
            @Html.TextBoxFor(Model => Model.Brand)
        </td>
    </tr>


    <tr>
        <td>
            @Html.Label("Model")
        </td>
        <td>
            @Html.TextBoxFor(Model => Model.Model)
        </td>
    </tr>
    <tr>
        <td>
            @Html.Label("Battery")
        </td>
        <td>
            @Html.TextBoxFor(Model => Model.Battery)
        </td>
    </tr>
    <tr>
        <td>
            @Html.Label("Price")
        </td>
        <td>
            @Html.TextBoxFor(Model => Model.Price)
        </td>
    </tr>
    <tr>
        <td>
            @Html.ActionLink("Back", "DisplayDetails")
        </td>
        <td>
            <input type="submit" id="=submit" />
        </td>
    </tr>
</table>
}



