@model IEnumerable<OnlineMobileShop.Entity.Mobile>

@{
    ViewBag.Title = "MobileDetails";
}

<head>
    <style>
        #table{
            border-spacing: 20px;
            padding:15px;
        }
    </style>
</head>

<h2>MobileDetails</h2>
<table>
    <tr>
        <td>Brand </td>
        <td>Model </td>
        <td>Battery </td>
        <td>Price </td>
    </tr>    
        @foreach (OnlineMobileShop.Entity.Mobile item in (List<OnlineMobileShop.Entity.Mobile>)ViewData["mobile"])
        {
            <tr>
                <td> @item.Brand</td>
                <td>@item.Model</td>
                <td>@item.Battery</td>
                <td> @item.Price</td>
            </tr> 
        }
</table>
<table>
    <tr>
        <td>Brand </td>
        <td>Model </td>
        <td>Battery </td>
        <td>Price </td>
    </tr>
    @foreach (OnlineMobileShop.Entity.Mobile item in ViewBag.Mobile)
    {
        <tr>
            <td> @item.Brand</td>
            <td>@item.Model</td>
            <td>@item.Battery</td>
            <td> @item.Price</td>
        </tr>
    }
</table>

